{% load static %}
<html>
    <head>
        <title>Mega blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/images.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-outline-success btn-sm" class="top-menu" href="{% url 'post_new' %}">Новинка</button>
                <button type="button" class="btn btn-outline-info btn-sm" class="top-menu" href="{% url 'post_draft_list' %}">Неопубликованные</button>
                <p class="top-menu">Привет, {{ user.username }} <small>(<a href="{% url 'logout' %}">Выйти</a>)</small></p>
            {% else %}
                <button type="button" class="btn btn-outline-primary btn-lg" class="top-menu" href="{% url 'login' %}">Войти</button></h6>
            {% endif %}
            <h1><a href="/">Mine Blog</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
