{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}

             <a role="button" class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"><span class="badge badge-pill badge-success">Публиковать</span></a>
             <a role="button" class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="badge badge-pill badge-danger">Удалить</span></a>

        {% endif %}
        {% if user.is_authenticated %}
            <a role="button" class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="badge badge-pill badge-primary">Редактировать</span></a>
            <a role="button" class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="badge badge-pill badge-danger">Удалить</span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}
  <hr>
  <a role="button" class="btn btn-primary" href="{% url 'add_comment_to_post' pk=post.pk %}"><span class="badge badge-info">Комментировать</span></a>
  {% for comment in post.comments.all %}
      {% if user.is_authenticated or comment.approved_comment %}
      <div class="comment">
          <div class="date">
              {{ comment.created_date }}
              {% if not comment.approved_comment %}
                  <a role="button" class="btn btn-default" href="{% url 'comment_remove' pk=post.pk %}"><span class="badge badge-pill badge-danger">Удалить</span></a>
                  <a role="button" class="btn btn-default" href="{% url 'comment_approve' pk=post.pk %}"><span class="badge badge-pill badge-info">Добавить</span></a>
              {% endif %}
          </div>
          <strong>{{ comment.author }}</strong>
          <p>{{ comment.text|linebreaks }}</p>
      </div>
      {% endif %}
  {% empty %}
      <p>Тут еще нет комментариев :(</p>
  {% endfor %}
