{% extends 'blog/base.html' %}

{% block title %}
    Delete tag "{{ tag.title|title}}" - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{{ tag.get_delete_url }}" method="post">
        {% csrf_token %}
        <h4>Вы уверены, что хотите удалить тэг <b>"{{ tag.title|title }}"</b>?</h4>
        <button type="submit" class="btn btn-default"><span class="badge badge-pill badge-danger">Удалить</span></button>
        <a href="{{ tag.get_absolute_url }}">Отменить</a>
    </form>

{% endblock %}
