{% extends 'base.html' %}

{% block title %}
    Tags list = {{ block.super }}
{% endblock %}

{% block content %}
    <a role="button" class="btn btn-success" href="{% url 'tags_create_url' %}">Создать новый тэг?</a>
    <h4 class="mb-2">Тэги:</h4>

    {% for tag in tags %}
        <h5><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></h5>

        <a role="button" class="btn btn-default" href="{% url 'tag_update_url' slug=tag.slug %}">
          <span class="badge badge-pill badge-info">Изменить</span></a>
        <a role="button" class="btn btn-default" href="{{ tag.get_delete_url }}">
          <span class="badge badge-pill badge-danger">Удалить</span></a>
    {% endfor %}
{% endblock %}
